@import 'bootstrap/scss/bootstrap';

body {
  background-color: #521414;
}

h1 {
  color: white;
}

.genresList {
  list-style: none;
}

.image-container {
  height: 20rem;
  object-fit: cover;
}

.person-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.description {
  color: #ffffffb5;
}

.cast-movies {
  min-height: 500px;
  -webkit-box-shadow: -1px 11px 17px -1px rgba(0,0,0,0.51);
  -moz-box-shadow: -1px 11px 17px -1px rgba(0,0,0,0.51);
  box-shadow: -1px 11px 17px -1px rgba(0,0,0,0.51);
}

.cast-img {
  height: 310px;
}

.cast-image {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.container {
  max-width: 1400px;
}

.movie-card {
  min-height: 690px;
}

.movie-card, .movie-img {
  -webkit-box-shadow: -1px 11px 17px -1px rgba(0,0,0,0.51);
  -moz-box-shadow: -1px 11px 17px -1px rgba(0,0,0,0.51);
  box-shadow: -1px 11px 17px -1px rgba(0,0,0,0.51);
}

.primary-btn {
  background-color: #8b262f;
  border: 1px solid white;
}

.actors-details-btn:hover, .primary-btn:hover {
  background-color: #c31d2c;
  border: none;
}

.actors-list-wrapper {
  background-color: #521414;
  border: none !important;
}

.actors-details-btn {
  background-color: #521414;
  border: 1px solid #ffffffa8;
}

.accordion-button {
  color: #ffffff;
  background-color: #212529;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
